<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="~/Frontend/files/favicon.ico" type="image/x-icon">
        <title>Каталог картинок</title>
    </head>
    <body>
        <div id="root"></div>
        <script src="~/dist/bundle.js"></script>
    </body>
</html>